@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
}

a:hover {
    color: unset;
}


.container {
    max-width: 1300px;
}

.custom_container {
    max-width: 1180px;
}

.main_bg {
    background-image: url('assets/main-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

a.nav-link {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}

.navbar-expand-lg .navbar-nav {
    gap: 22px
}

ul.navbar-nav.ms-auto.mb-lg-0 {
    margin-right: 30px;
}
.navbar input{
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid gray;
    border-radius: 10px;
}

.contact_btn {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 15px;
    color: #FFFFFF;
    background: linear-gradient(95.36deg, #E9676D -0.81%, #CB383F 103.63%);
    border-radius: 3px;
    padding: 13px 26px;
}

/* banner css */
.banner {
    padding-bottom: 175px;
}

.gradient_color {
    background: linear-gradient(95.36deg, #E9676D -0.81%, #CB383F 103.63%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.banner h2 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 52px;
    line-height: 71px;
    margin-bottom: 20px;
}

.banner p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #4A4A4A;
}

#help {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #192435;
    margin-bottom: 0;
}

/* clients section css */
.clients {
    padding-bottom: 175px;
}

.clients h3 {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 12px;
}

.clients p {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #333333;
    margin-bottom: 48px;
}

.carousel_bg {
    background: #FFFEFE;
    border-radius: 80px;
    padding: 20px 50px;
}

.multi_img {
    gap: 88px;
}

.carousel-inner {
    width: 90% !important;
    margin: 0 auto !important;
}

.carousel-control-prev-icon {
    background-image: url('assets/left-arrow.png') !important;
    background-repeat: no-repeat;
    background-size: contain;
    height: 24px !important;
    width: 14px !important;
}

.carousel-control-next-icon {
    background-image: url('assets/right-arrow.png') !important;
    background-repeat: no-repeat;
    background-size: contain;
    height: 24px !important;
    width: 14px !important;
}

.carousel-control-next,
.carousel-control-prev {
    opacity: 1 !important;
}



/* services css */
.services {
    background-color: #FFF9F9;
    padding-top: 70px;
    padding-bottom: 103px;
    margin-bottom: 175px;
}

.services .service_card {
    background: #FFFFFF;
    border-radius: 20px;
    /* width: 340px; */
    height: 299px;
    /* padding: 29px 0; */

}


.services h3 {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 21px;
}

.services p {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #23293A;
}

.services .service_card p {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #777777;
}

/* leadership section css  */
.leadership {
    background-image: url('assets/dot.png');
    background-repeat: no-repeat;
    background-position: bottom left 2.5%;
}

.leadership .container {
    background-image: url('assets/dot.png');
    background-repeat: no-repeat;
    background-position: top right;
}

.leadership .leadership_card {
    background: #FBFBFC;
    border-radius: 20px;
    padding-top: 77px;
    padding-bottom: 56px;
}

.leadership h2 {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 12px;
}

.leadership .sub_title {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #333333;
    margin-bottom: 50px;
}

.leadership .leadership_card img {
    margin-bottom: 28px;
}

.leadership .leadership_card .name {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #333333;
    margin-bottom: 7px;
}

.leadership .leadership_card .position {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #8B939B;
    margin-bottom: 18px;
}

.leadership .leadership_card {
    position: relative;

}

.leadership .leadership_card .hr::after {
    position: absolute;
    content: "";
    height: 1px;
    background-color: lightgray;
    width: 52%;
    left: 50%;
    transform: translateX(-50%);

}

.leadership .leadership_card .Linkedin {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    margin-top: 18px;
}



/* swipper */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    align-items: center;
}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
    color: #E9676D;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 25px;
}




/* footer section css */
footer {
    background-color: #FBFBFC;
    padding-top: 81px;
}

footer a {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}

footer h2 {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #132446;
    margin-bottom: 25px;
}

footer input {
    border: 1px solid #000000;
    border-radius: 9px;
    padding: 24px 30px;
    margin-bottom: 24px;
}

footer input::placeholder {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #414141;
}


footer .icon i {
    width: 45px;
    height: 45px;
    background: #F5CDD0;
    border-radius: 22.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #CB383F;
}

footer .icon i:hover {
    background: linear-gradient(95.36deg, #E9676D -0.81%, #CB383F 103.63%);
    color: white;
    transition: 0.3s ease-in-out;
}

footer #copy {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    padding-bottom: 30px;
}


@media screen and (max-width: 525px) {
    .contact_btn {
        padding: 15px 20px;
    }

    .banner {
        padding-bottom: 40px;
    }

    .banner h2 {
        font-size: 30px;
    }

    .banner p {
        font-size: 16px;
    }

    .clients {
        padding-bottom: 40px;
    }

    .clients h3 {
        font-size: 30px;
    }

    .clients p {
        font-size: 16px;
    }

    .multi_img {
        gap: 10px;
    }

    .services h3 {
        font-size: 30px;
    }

    .services p {
        font-size: 16px;
    }

    .services .service_card p {
        font-size: 16px;
    }

    .leadership h2 {
        font-size: 30px;
    }

    .leadership .sub_title {
        font-size: 16px;
    }

    .leadership .leadership_card .name {
        font-size: 16px;
    }
}